* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 2em;
  font-family: Impact, sans-serif;
  color: rgba(31, 3, 3, 0.913);
  margin-bottom: 20px;
}

/** Estilos Botones **/
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button-container button {
  margin-right: 10px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  border-radius: 5px;
}

.button-container #show-files {
  background-color: #555;
}

.button-container #create-new {
  background-color: #ff5722;
}

.button-container #create-new:hover {
  background-color: #e64a19;
}

.button-container #show-files:hover {
  background-color: #444;
}

/** FORMULARIO **/

label {
  display: block;
  padding-top: 10px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #555555;
}

input[type="text"], textarea {
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  font-family: Arial, sans-serif;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #124c7c;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  float: right;
}

/** ENLACES **/
a {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

a:hover {
  background-color: #ddd;
}

