h1{
    text-align: center; font-size: 400%; font-family: Impact;
    color: rgba(43, 5, 5, 0.913);
  }
  
  h2 {
    text-align: center; font-size: 200%; font-family: Impact;
    color: rgba(31, 3, 3, 0.913);
  }
  